### Note: SS read names should not have "_" character

sample: HG00733
Nchunks: 100

# whatshap
whatshap_split : ../../tools/whatshap-fork/whatshap/cli/split.py


# long reads
long_reads_dir: ../../ccs_reads
min_pb_len: 5000


reference: ../../reference/hg38.fa

phased_vcf_dir: ../../trio-based-phasing/
vcf_prefix: PR05

# SS bams and phased vcf files
SS_bam_dir: ../../ss_bams

bubble_info: "TRUE"
evaluation: "TRUE"

# directory including all Strand-seq fastq files
SS_fastq_dir: ../../ss_fastq



# saarclust parameters
testNumClustersHard: [50,60,80,90,100,200]
numClustersHard: 80
numClustersSoft: 47
EMiter: 2
alpha: 0.01
minLib: 1
upperQ: 1 #0.95
logLth: 1
theta_constrain: "FALSE"
log_scale: "TRUE"
filter_soft_clust_input: "FALSE"
numAlignments: 30000 #150000

num_chromosomes: 23

hifiasm: ../../tools/hifiasm/hifiasm
overlap_graph: TRUE
BubbleGun: ~/.local/bin/BubbleGun
